*{
    box-sizing: border-box;
}

.header {
    background: url('img/oceanx.jpg');
    background-size:cover;
    height:100vh;

}

.mask {
    background-color: rgba(0, 0, 0, 0.5 );
}

div.intro {
	font-size: 20px;
}

#demo {
    width: 300px;
    height: 300px;
}